/* Estilos principales */

/* Variables CSS */
:root {
    --color-fondo: #030712;
    --color-letras: #00bbff;
    --color-botones: #f5339b;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Estilos del main */
main {
    padding: 2rem;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.boton {
    color: white;
    background-color: var(--color-botones);
    border: none;
    padding: 10px 50px;
    border-radius: 50px;
    transition: 0.5s ease;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.boton:hover {
    transform: scale(1.05);
}

/* Estilos generales para la navbar */
.navbar {
    background-color: var(--color-fondo) !important;
}

.navbar-brand {
    color: var(--color-letras) !important;
}

.navbar-nav .nav-link {
    color: var(--color-letras) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--color-botones) !important;
}

.navbar-nav .nav-link.active {
    color: var(--color-botones) !important;
    font-weight: bold;
}

/* Estilos para la página de planes */
.planes-body {
    background-color: var(--color-fondo);
    color: var(--color-letras);
}

.planes-card {
    background-color: var(--color-fondo);
    border: 2px solid var(--color-letras);
}

.planes-card-popular {
    background-color: var(--color-fondo);
    border: 2px solid var(--color-botones);
}

.planes-card-header {
    background-color: var(--color-fondo);
    border-bottom: 1px solid var(--color-letras);
}

.planes-card-header-popular {
    background-color: var(--color-fondo);
    border-bottom: 1px solid var(--color-botones);
}

.planes-text {
    color: var(--color-letras);
}

.planes-text-popular {
    color: var(--color-botones);
}